<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jest-a-Gameshow{% endblock %}</title>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Copse&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <div class="main-content">
        <!-- Your main content goes here -->
        {% block content %}
        <h2>Main Content</h2>
        <p>This is where your main content goes.</p>
        {% endblock %}
    </div>
    <div class="flash-messages" {% if not get_flashed_messages() %}style="display: none;"{% endif %}>
      {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="flash-messages">{{ message }}</div>
      {% endfor %}
  </div>
  
</body>

</html>
