{% extends "base.html" %}

{% block navbar_title %}{% endblock %}
{% block title %}Edit User{% endblock %}

{% block content %}
<div class="navbar">
  <nav>
  <a class="nav-link" href="/leaderboard">Leaderboard</a>
  <a class="nav-link" href="/{{ user.id }}/gameboard">Go to gameboard</a>
  <a class="nav-link" href="/logout">Logout</a>
  <a class="nav-link" href="/{{ user.id }}/profile">Profile</a>
  </nav>
</div>
<h1 id="title">Edit Profile</h1>
<div id="container">
  
<form method="POST">

  {{form.hidden_tag()}}

  {% for field in form.errors %}
  <div class="alert alert-danger">{{ field }}:
    <ul>
      {% for error in form.errors[field] %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden' %}

  <div id="form-div">
    {{field.label(class="label")}}
    <div id="form-div">
      {{field(class="form-control")}}
    </div>
  </div>

  {% endfor %}

  <button class="btn btn-primary">Edit</button>
</form>
<div class="button-container">
  <form action="/{{ user.id }}/delete" method="post">
    <button type="submit" class="styled-button">Delete User</button>
  </form>
</div>
</div>
{% endblock %}


