{% extends "base.html" %}
<

{% block navbar_title %}  {% endblock %}
{% block title %}{{ user.username }} Game Stats{% endblock %}

{% block content %}
<div class="navbar">
    <nav>
    <a class="nav-link" href="/leaderboard">Leaderboard</a>
    <a class="nav-link" href="/{{ user.id }}/gameboard">Go to gameboard</a>
    <a class="nav-link" href="/logout">Logout</a>
    <a class="nav-link" href="/{{ user.id }}/edit">Edit Profile</a>
    </nav>
</div>
<table class="leaderboard-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Games Played</th>
            <th>Money Won</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.gamesplayed }}</td>
                <td>{{ user.money }}</td>
            </tr>
    </tbody>
</table>
<table class="leaderboard-table">
    <thead>
        <tr>
            <th id="title" colspan="2">Game History</th>
        </tr>
        <tr>
            <th id="title">Game Winnings</th>
            <th id="title">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.score }}</td>
                <td>{{ game.timestamp }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>    
{% endblock %}
